.home{
    height: 100vh;
    background-color: var(--color-primary);
  color: var(--color-light);
}

  
  .home_card__container {
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .home_card {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease;
  }
  
  .home_card:hover {
    transform: translateY(-5px);
  }
  
  .home_card__content h2 {
    margin: 0;
    font-size: 18px;
  }