.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 4rem;
}

.container-middle{
  justify-content: center;
  display: flex;
  align-items: center;
}

input{
  margin-left: 0.5rem;
  height: 2rem;
  width: 3rem;
  border-radius: 0.3rem;
  padding-left: 10px;
}

button{
  width: 4rem;
  height: 2.5rem;
  border: none;
  color: black;
  background-color: rgb(241, 234, 234);
  border-radius: 0.3rem;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}

button:hover{
  color:  rgb(241, 234, 234);
  background-color: black;
}
