body {
    margin: 0;
    padding: 0;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

/* Floating the boxes */
.red {
    float: left;
}

.green {
    float: left;
} 

/* .blue {
    float: left;
}  */
